<div id="footer" class="section text-white">
    <div class="container">
        <div class="full column">
            <h5>{{ site.footer[page.lang] }}</h5>
            <ul>
                <ol>
                    <a href="https://vk.com/iacmac" class="btn-social btn-outline"><i class="fa fa-fw fa-vk"></i></a>
                    <a href="https://www.facebook.com/iacmac/" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                    <a href="https://twitter.com/IACMAC1997" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                    <a href="https://www.instagram.com/iacmac1997/" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                    <a href="https://t.me/iacmac" class="btn-social btn-outline"><i class="fa fa-fw fa-telegram"></i></a>
                    <a href="http://www.iacmac.ru/iacmac/" class="btn-social btn-outline"><i class="fa fa-fw fa-globe"></i></a>
                    <a href="mailto:{{site.email}}" class="btn-social btn-outline"><i class="fa fa-fw fa-envelope"></i></a>
                </ol>
            </ul>
        </div>
    </div>
  </div>
